.DS_Store
.ipynb_checkpoints/
audio_other_testing_data_cleaned.csv
audio_testing_data_cleaned.csv
audio_training_data_cleaned.csv
audio_validation_data_cleaned.csv
cv-other-test.csv
cv-valid-test.csv
cv-valid-train.csv
cv-other-test/
cv-valid-test/
cv-valid-train/
cv-valid-dev/
cv-valid-dev.csv
data_test.pickle
Data Cleaning - Validation Set.ipynb
labels.txt
pyaudio_featurize.pyc
training_data_and_labels.pickle

